
:host {
    width: 100%;
  }
  
  .dashboard-container { 
      display: flex; 
      flex-direction: column; 
      padding: 40px 60px;
      width: 100%;
    }
      
    .title {
      display: flex;
      justify-content: space-between;
        margin-bottom: 20px;
    }

    .tables-container{
      margin-bottom: 20px;
    }

    .tables-container h4{
      margin-bottom: 15px;
    }


    @media (max-width: 768px) {
      .dashboard-container{
        padding: 5px;
      }

    }