<div class="dashboard-container">
  <section class="title">
    <h1>Tables</h1>
  </section>

  <div class="tables-container">
    <h4>Tabla de Ingresos</h4>

    <app-table-reusable
      [displayedColumns]="columnsToDisplayElements"
      [dataSource]="elementData"
    >
    </app-table-reusable>
    <app-form-movement />
  </div>

  <div class="tables-container">
    <h4>Tabla de gastos</h4>

    <app-table-reusable
      [displayedColumns]="columnsToDisplayElements"
      [dataSource]="elementData"
    >
    </app-table-reusable>
    <app-form-movement />
  </div>

</div>
