<div class="modal">
  <div class="modal-content">
    <form [formGroup]="form" (submit)="onSubmit()">
      <h3>Crear Movimiento</h3>
      <div class="form-group">
        <label class="label-style">Tipo de Actividad</label>
        <div class="sub-form">
          <div>
              <input
            type="radio"
            id="ingreso"
            value="ingreso"
            formControlName="tipoActividad"
          />
          <label for="ingreso">Ingreso</label>
          </div>
          
          <div>
            <input
            type="radio"
            id="gasto"
            value="gasto"
            formControlName="tipoActividad"
          />
          <label for="gasto">Gasto</label>
          </div>
          
        </div>
        
      </div>

      <div class="form-group">
        <label class="label-style" for="categoria">Categoría</label>
        <select id="categoria" formControlName="categoria">
          <option value="default">--Seleccione una categoría--</option>
          @if (form.get('tipoActividad')?.value === 'gasto') {
            @for (item of categoriasGasto ; track item) {
              <option [value]="item">{{ item }}</option>
            }
          
          } @else {
            @for (item of categoriasIngreso; track item) {
              <option [value]="item">{{ item }}</option>
            }
          }
        </select>
      </div>

      <div class="form-group">
        <label class="label-style" for="monto">Monto</label>
        <input type="number" formControlName="monto">
      </div>

      <div class="container-btn">
      <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancelar</button>
      <button type="submit" class="btn btn-correct" [disabled]="form.invalid">Crear</button>
      </div>

    </form>
  </div>
</div>
