@import '@angular/cdk/overlay-prebuilt.css';

/* Variables de colores */
:root {
    --color-primary: #3F51B5; /* Índigo */
    --color-secondary: #E91E63; /* Rosa */
    --color-tertiary: #FF9800; /* Naranja */
    --color-white: #FFFFFF; /* Blanco */
    --color-black: #000000; /* Negro */

    /* Fondos y textos para temas claro y oscuro */
    --color-background-light: #F5F5F5; /* Fondo claro */
    --color-background-dark: #121212; /* Fondo oscuro */
    --color-surface-light: #FFFFFF; /* Superficies claras */
    --color-surface-dark: #1E1E1E; /* Superficies oscuras */
    --color-text-light: #424242; /* Texto oscuro */
    --color-text-dark: #E0E0E0; /* Texto claro */

    /* Tamaños de fuente */
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
    --font-size-xlarge: 24px;
    --font-size-xxlarge: 35px;
}

/* Reset y estilos generales */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--color-background-light);
    color: var(--color-text-light);
}

body.dark-theme {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
}

app-root {
    display: block;
    height: 100%;
}

/* Listas y enlaces */
ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Botones y celdas */
button, th, td {
    background: none;
    border: none;
    cursor: pointer;
}

/* Inputs y textareas */
input, textarea, select {
    outline: none;
    border: none;
    background: none;
}
